<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(tasks.length === 0) {%>
        <h1>No tasks</h1>
    <% } else { %>
        <ul>
            <% tasks.forEach(function(task){ %>
                <li><%= task.task %></li>
            <% }) %>
        </ul>
    <% }%>
    <a href="/">Go back</a>
</body>
</html>